h1 New Note

input(type='text', placeholder='Title', ng-model='note.title')
input(type='text', placeholder='Body of Note', ng-model='note.body')
input(type='text', placeholder='Tags', ng-model='note.tags')
button(ng-click='create(note)') Create
