.row
  .small-6.columns
    h1 Notes
    table
      thead
        tr
          th(width='300') Title          
          th(width='300') Date Created
          tbody
            tr(ng-repeat = 'note in notes')
              td: a(ui-sref='viewNote({noteId: note.id})') {{note.title}}
              td {{note.created_at | date: medium}}  
  .small-6.columns      
    h1 New Note
    input(type='text', placeholder='Title', ng-model='newNote.title')
    input(type='text', placeholder='Body of Note', ng-model='newNote.body')
    input(type='text', placeholder='Tags', ng-model='newNote.tags')
    button(ng-click='create(newNote)') Create

