.row
  .small-8.columns
    h1 Notes
    table
      thead
        tr
          th(width='300') Title
          th(width='300') Date Created
          th(width='300') Tags
          tbody
            tr(ng-repeat = 'note in notes')
              td: a(ui-sref='viewNote({noteId: note.note_id})') {{note.title}}
              td {{note.updated_at | date: medium}}
              td
                span.tag(ng-repeat='name in note.tags')
                  a(ui-sref='notes({tag:name})') {{name}} 
  .small-4.columns 
    h1 New Note
    input(type='text', placeholder='Title', ng-model='newNote.title')
    textarea(row='20', cols='10', placeholder='Body of Note', ng-model='newNote.body')
    input(type='text', placeholder='Tags', ng-model='newNote.tags')
    //input(ng-file-select, type='file', name='files', accept="image/*", ng-model='photos', ng-file-model='photos', ng-multiple='true', ng-file-change='fileSelected($files)')
    button.small.radius(ng-file-select, ng-model="files", multiple="true") Add Files
    h5(ng-show='files.length') {{files.length}} files selected
    br
    button(ng-click='create(newNote)') Create

    h3 Uploading
    table
      thead
        th Files
        th Uploaded
      tbody
        th {{files.length}}
        th {{count}}


